extends ../layout/row

block content
    span(class='small-12 medium-6 medium-offset-3 columns')
        h1(class='text-center') #{title}

        div(class='small-12 columns')
            div(class='small-6 columns')
                a(class='button tiny secondary postfix' href='/profile/edit') Back

        form(class='small-12 columns' action='/profile/edit-password' method='post' enctype='application/x-www-form-urlencoded')

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='password') Password
                div(class='small-8 columns')
                    input(type='password' name='password')

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='passconf') Password confirmation
                div(class='small-8 columns')
                    input(type='password' name='passconf')

            div(class='small-12 columns')
                button(type='submit' class='button tiny success right postfix').
                    Update
