extends ../layout/row

block content
    span(class='small-12 columns')
        h1(class='text-center') #{title}

        div(class='small-12 columns text-center')
            div(class='small-12 columns')
                div(class='small-6 columns text-right') Client
                div(class='small-6 columns text-left') Hushrush

            div(class='small-12 columns')
                div(class='small-6 columns text-right') Developper
                div(class='small-6 columns text-left')
                    a(href='http://tocausan.xyz') Tocausan

            div(class='small-12 columns')
                div(class='small-6 columns text-right') Designer
                div(class='small-6 columns text-left')
                    a(href='http://tocausan.xyz') Tocausan

            div(class='small-12 columns')
                div(class='small-6 columns text-right') Technology
                div(class='small-6 columns text-left') ExpressJS
            div(class='small-12 columns')
                div(class='small-6 columns text-right')
                div(class='small-6 columns text-left') MongoDB
            div(class='small-12 columns')
                div(class='small-6 columns text-right')
                div(class='small-6 columns text-left') Foundation
            div(class='small-12 columns')
                div(class='small-6 columns text-right')
                div(class='small-6 columns text-left') SocketIO

            div(class='small-12 columns')
                div(class='small-6 columns text-right') Web seed
                div(class='small-6 columns text-left')
                    a(href='https://github.com/tocausan/renmin') Renmin

            hr
            div(class='small-12 columns')
                img(class='small-4 columns' src='uploads/logos/tocausan-renmin.png')
                img(class='small-4 columns' src='uploads/logos/tocausan-renmin.png')

